@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
    background: #000;
}
::placeholder{
    color: rgb(30, 33, 30);
}

.background{
    background: linear-gradient( rgba(107, 157, 186, 0.808), rgba(101, 157, 189, 0.808)), url('https://64.media.tumblr.com/1429544cd9c17bcc01a1b3c55cc8f096/tumblr_pnco7qvXLB1tvo2c3o1_540.gifv');
    background-size: cover;
    height: 100vh;
    display: flex;
}

.text{
    margin-top: 45vh;
    flex: 1;
}

.box{
    margin-top: 45vh;
    flex: 1;
}

.text{
    margin-left: 10%;
    font-weight: 300px;
}

.box{
    margin-left: 25%;
}

.text h1{
    font-size: 70px;
    color: #fff;
    font-weight: 500;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.text p a{
    color: #fff;
    font-weight: 700;
}

.form{
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.username, .password, .fullname, .email{
    border-bottom: 1px solid #fff;
}

.button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.button:hover{
    background: #fff;
    color: rgb(237, 66, 66);
}

img {
    width: 100%;
}
.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link{
    color: #b12929;
}

a{
    font-weight: 700;
    transition: all 0.4s ease;
}
